@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 6,9,18;
  --background-end-rgb: 40, 41, 55; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 18, 18, 18;
    --background-start-rgb: 255, 41, 55; /* This is the RGB for gray-950 */
    /* --background-end-rgb: 255, 41, 55; */ 
  }
}

body {
  
}

::-webkit-scrollbar {
  display: none;
}

html,
body,
:root {
  height: 100%
}

